<mat-drawer-container class="main-container">
  <mat-drawer #drawer class="sidenav" mode="side" style="overflow: hidden;"> 
    <mat-tab-group>
      <mat-tab label="Song Library" >
        <mat-form-field style="width: 100%;" appearance="fill" color="warn">
          <mat-label>Search</mat-label>
          <input matInput placeholder="Ex. My Way" (keyup)="filterSearch()" [(ngModel)]="searchText">
        </mat-form-field>
        <mat-card
          *ngFor="let o of filterdSongs"  
        >
          <button mat-button color="warn" (click)="queueSong(o)">Queue</button>
          <mat-card-header>
            <mat-card-title>{{ o.title }}</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="{{ o.thumbnail }}">
        </mat-card>
      </mat-tab>
      <mat-tab label="Queue"> 
        <mat-card class="play-control">
          <button mat-raised-button color="warn" (click)="togglePlay()">{{ isPaused ? 'Play' : 'Pause'}}</button>
          <button mat-raised-button color="primary" (click)="getNextSong()">Next</button>
        </mat-card>
        <mat-card
          *ngFor="let o of queueSongs"  
        >
          <mat-card-header>
            <mat-card-title>{{ o.title }}</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="{{ o.thumbnail }}">
        </mat-card>
      </mat-tab>
    </mat-tab-group>
  </mat-drawer>
  
  <mat-drawer-content>
    <button mat-mini-fab color="accent" (click)="drawer.toggle()">
      🎵
    </button>
    <youtube-player 
      [videoId]="currentSongId"
      (ready)="onPlayerReady($event)"
      [playerVars]="ytPlayerVars"
      (stateChange)="onStateChanged($event)"
      (error)="onPlayerError($event)"
      >
    </youtube-player>
  </mat-drawer-content>
</mat-drawer-container>