<mat-card style="width: 100%;" class="play-control">
  <button mat-raised-button color="primary" (click)="getNextSong()">Next</button>
</mat-card>
<mat-tab-group>
  <mat-tab label="Song Library" >
    <mat-form-field style="width: 100%; color: aliceblue;" appearance="fill" color="warn">
      <mat-label>Search</mat-label>
      <input matInput placeholder="Ex. My Way" (keyup)="filterSearch()" [(ngModel)]="searchText">
    </mat-form-field>
    <mat-list>
      <mat-list-item
        *ngFor="let o of filterdSongs"
      >
        <h3 mat-line>{{o.title}}</h3>
        <img style="width: 50px;" src="{{ o.thumbnail }}">
        <button mat-button color="warn" (click)="queueSong(o)">Queue</button>
      </mat-list-item>
    </mat-list>
  </mat-tab>
  <mat-tab label="Queue"> 
    <mat-list>
      <mat-list-item
        *ngFor="let o of queueSongs"
      >
        <h3 mat-line>{{o.title}}</h3>
        <img style="width: 50px;" src="{{ o.thumbnail }}">
      </mat-list-item>
    </mat-list>
  </mat-tab>
</mat-tab-group>